services:
  pgvector:
    build:
      context: .
      dockerfile: Dockerfile.pgvector
    container_name: postgres-vector
    platform: linux/amd64
    env_file:
      - .env
    ports:
      - "5433:5432"
    networks:
      - app-network
    volumes:
      - pgvector_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio:latest
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - app-network
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

volumes:
  pgvector_data:
  minio_data:

networks:
  app-network:
    name: app-network
    driver: bridge
    external: true
